<div mat-dialog-content style="height: 300px; border-color: blue;">
  <h2 mat-dialog-title>Editar Proveedores</h2>
  <form style="margin-top: 50px;">
    <mat-form-field appearance="outline" style="margin-bottom: 10px;">
      <mat-label>Nombres</mat-label>
      <input matInput [(ngModel)]="proveedor.nombres" name="nombres" required>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-bottom: 10px; margin-left: 20px;">
      <mat-label>Telefono</mat-label>
      <input matInput [(ngModel)]="proveedor.telefono" name="telefono" required>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-bottom: 10px;  margin-left: 20px;">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="proveedor.email" name="email" required>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-bottom: 10px;  margin-left: 20px;">
      <mat-label>Empresa</mat-label>
      <input matInput type="text" [(ngModel)]="proveedor.empresa" name="empresa" required>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="guardarEdicion()">Guardar cambios</button>
      <button mat-raised-button color="primary" (click)="cancelarEdicion()">Cancelar</button>
    </div>
  </form>
</div>
